<h2>Sign Up</h2>
<form>
  <div class="row">
    <div class="col-md-6">
      <label>User Name</label>
      <input type="text" class="form-control" [(ngModel)]="userName" name="userName" />
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" />
      <label *ngIf="Manager">Tavern</label>
      <input type="text" class="form-control" *ngIf="Manager" name="Tavern" />
    </div>
  </div>
  <div class="row">
  
    <input type="radio" [(ngModel)]="Admin" style="margin-top: 10px;" name="Admin">Admin
    <input type="radio" [(ngModel)]="Manager" style="margin-top: 10px;" name="Manager">Manager
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" (click)="signUp()">
        Submit
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" routerLink="/login">
        Cancel
      </button>
    </div>
  </div>
</form>