<h2>Sign Up</h2>
<form>
  <div class="row">
    <div class="col-md-6">
      <label>User Name</label>
      <input type="text" class="form-control" [(ngModel)]="userName" name="userName" />
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" />
    
  
        <div class="btn-group btn-group-toggle"
            ngbRadioGroup
            [(ngModel)]="role"
            name="role">
              <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="Admin" />
                  Admin
              </label>
              <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="Manager" />
                  Manager
              </label>
        </div>

        <div *ngIf="role === 'Admin'">
          <label>Tavern</label>
          <input type="text" class="form-control" [(ngModel)]="TavernName" name="TavernName" />
        </div>
        <div *ngIf="role === 'Manager'">
          <label>Select Your Tavern</label>
          <select class="form-control" [(ngModel)]="selectTavern" name="selectTavern">
              <option *ngFor="let tavern of taverns" [ngValue]="tavern">{{tavern.tavernName}}</option>
          </select>   
        </div>


    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" (click)="signUp()">
        Submit
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" routerLink="/login">
        Cancel
      </button>
    </div>
  </div>
</form>

